body, input, textarea {
    color: #666;
    font-size: 12px;
    line-height: 18px;
}

body {
    background-image: url('/static/imgs/background.gif');
    font-family: 'helvetica neue', arial, sans-serif;
    text-shadow: white 0px 1px 0px;


}

a {
    text-decoration: none;
    cursor: pointer;
    color: #666;
}

.container {
    background: white;
    border-radius: 10px;

    margin-top: 50px;
    margin-bottom: 50px;

    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.landing_app {
    width: 275px;
    margin-bottom: 60px;

    float: left;

    border: 1px solid #666;
    border-radius: 2px;

    -moz-box-shadow:    0px 0px 2px 2px #649731;
    -webkit-box-shadow: 0px 0px 2px 2px #649731;
    box-shadow:         0px 0px 2px 2px #649731;
}

.app_margin {
    margin-right: 19px;
}

.app_img {
    padding: 0px;
    width: 275px;
    height: 89px;
    max-width: 275px;
    max-height: 89px;
}
.app_img img {
    max-width: 275px;
    max-height: 89px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.app_text {
    border-top: 1px solid #666;
    text-align: center;
    margin: 0px;
    padding: 10px;

    -moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 5px #000000;
}
.app_text h2 {
    margin-bottom: 10px;
}
.app_text p {
    margin-bottom: 0px;
}
