{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block content %}
    <div id="left_header">
        <a href="/"><img src="/static/imgs/banner.png" /></a>
    </div>
    <div id="right_header">
        <a href="/store/select?shop={{store.url}}"><button>Select Social Buttons</button></a>
        <a href="/store/support?s_u={{store.uuid}}"><button>Need Help?</button></a>
    </div>

    <div class="prepend-top prepend-2 span-20 append-2 last">
        <h1 class="center">Uh oh!</h1>

        <div class="span-12" style="font-size: 1.5em; font-weight: bold;">
            Sorry to hear you didn't authorize the transaction. <br /><br />
            I would have loved to work with you.
        </div>
        <div class="span-8 last">
            <div class="center">
                <a href={% if onetime %}"/store/support?s_u={{store.uuid}}"{% else %}"/store/select?shop={{store.url}}"{% endif %}>
                    <button class="cta_btn" style="font-size: 18px; font-weight: bold">
                        Try Again?
                    </button>
                </a>
                <br /><br />
                
                <a href="{{store.url}}/admin">
                    <button style="font-size: 18px; font-weight: bold">
                        Return to your Store
                    </button>
                </a>
            </div>
        </div>

{% endblock content %}

{% block bottom_content %}
{% endblock bottom_content %}

