{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block content %}
    <div id="right_header">
        <button><a href="/">Home</a></button>
    </div>

    <div class="prepend-top span-24 last center">
        <img src="/static/imgs/logo1.png" width="310px" />
        <p>Great, easy-to-install Shopify Apps!</p>
    </div>

    <div class="prepend-top span-24 last center">
        <h1>Coming Soon!</h1>
        <p>
            With your click, you just voted for this Shopify App to be built!
            <br /><br />
            I'll be working on the most popular Apps as fast as I can!
        </p>

        <button><a href="/">Back to Home</a></button>
    </div>
{% endblock content %}

{% block bottom_content %}
{% endblock bottom_content %}

