{% extends "base.html" %}

{% block head %}
    <script type="text/javascript" src="/static/js/jquery.cycle.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easing.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.slideshow img:first').fadeIn(1000, function() {
            $('.slideshow').cycle({
                fx:     'fade', 
                speed:   1000,
                timeout: 500
            });
        });
    });
    </script>
{% endblock head %}

{% block content %}
    <div class="prepend-top span-24 last center">
        <img src="/static/imgs/banner.png" width="310px" />
        <p>
            Social buttons for your store PLUS usage statistics for you!
            <br />
            Finally learn how your social buttons are working for you!
        </p>
    </div>

    <div class="prepend-top prepend-1 span-22 append-1 last">
        <div class="span-14">
            <ul>
                <li>Mix and match from 6 social sharing buttons</li>
                <li>Learn about your most talked about products via weekly analytics</li>
                <li>Fully customizable installation available</li>
            </ul>
            <p>A collection of social sharing buttons that you can mix and match to place on your store's product pages. These buttons will increase your store's social traffic by allowing your customers to share their favourite products across their social networks.</p>

            <p>Here are the social sharing buttons that you can select from:</p>
            <ul>
                <li class="small_bullets">Facebook</li>
                <li class="small_bullets">Fancy</li>
                <li class="small_bullets">Google Plus</li>
                <li class="small_bullets">Pinterest</li>
                <li class="small_bullets">Tumblr</li>
                <li class="small_bullets">Twitter</li>
                <li class="small_bullets">More coming ... </li>
            </ul>
            <p>Select as many or as few as you'd like! The first button costs $0.99 and each additional button costs just $0.50!</p>

            <p>Each installation can be 100% customized and tailored to suit your store. More details can be found upon installation.</p>

            <p>Brought to you by the same developer as top Shopify App, <a href="http://apps.shopify.com/shopconnection">ShopConnection</a>! We have great customer support and want to help at every step!</p>
        </div>

        <div class="span-8 last">
            <div class="slideshow span-8 last center">
                <img src='/static/imgs/pinterest_icon_logo.jpeg' class='first slideshowImg' style="margin-left: 70px;"/>
                <img src='/static/imgs/fancy_logo.png' class='slideshowImg' style="margin-left: 50px;" />
                <img src='/static/imgs/gplus_logo.gif' class='slideshowImg' style="margin-left: 70px;" />
                <img src='/static/imgs/like_logo.png' class='slideshowImg' style="margin-left: 70px;" />
                <img src='/static/imgs/tumblr_logo.png' class='slideshowImg' />
                <img src='/static/imgs/tweet_logo.png' class='slideshowImg' /> 
            </div>

            <div class="lower-100 span-8 last center">
                Want to <a href="/more"><button>Learn More?</button></a>
                <br /><br />
                Ready to install? <a href="http://apps.shopify.com/socialplusplus"><button>Let's GO</button></a>
            </div>
        </div>
    </div>
{% endblock content %}

{% block bottom_content %}
{% endblock bottom_content %}

