{% extends "base.html" %}

{% block head %}
    <script type="text/javascript" src="/static/js/jquery.cycle.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easing.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.slideshow img:first').fadeIn(1000, function() {
            $('.slideshow').cycle({
                fx:     'fade', 
                speed:   1000,
                timeout: 500
            });
        });
    });
    </script>
{% endblock head %}

{% block content %}
        <div id="right_header">
           <a class="noanchor" href="/more"><button>Learn More</button></a>
        </div>

    <div class="prepend-top span-24 last center">
        <img src="/static/imgs/banner.png" width="310px" />
        <p>
            Social buttons for your store PLUS usage statistics for you!
            <br />
            Finally learn how your social buttons are working for you!
        </p>
    </div>

    <div class="prepend-top prepend-1 span-22 append-1 last">
        <div class="span-13 append-1">
            <ul>
                <li>Effortlessly install the #1 social sharing buttons</li>
                <li>Discover your most talked about products</li>
                <li>Fully customizable installation available</li>
            </ul>
            <br />
            <p style="text-align: justify; font-size: 1.2em; line-height: 2.0em;">
                A collection of social sharing buttons that you can mix and match to place on your store's product pages. These buttons will increase your store's social traffic by allowing your customers to share their favourite products across their social networks.
            </p>
            <br />
            <b><p style="font-size:1.2em; color: red;">PLUS you'll be emailed usage stats for each button weekly!</p></b>

        </div>

        <div class="span-8 last">
            <div class="slideshow span-8 last center">
                <img src='/static/imgs/pinterest_icon_logo.jpeg' class='first slideshowImg' style="margin-left: 70px;"/>
                <img src='/static/imgs/fancy_logo.png' class='slideshowImg' style="margin-left: 50px;" />
                <img src='/static/imgs/gplus_logo.gif' class='slideshowImg' style="margin-left: 70px;" />
                <img src='/static/imgs/like_logo.png' class='slideshowImg' style="margin-left: 70px;" />
                <img src='/static/imgs/tumblr_logo.png' class='slideshowImg' />
                <img src='/static/imgs/tweet_logo.png' class='slideshowImg' /> 
            </div>

            <div class="span-8 last center" style="font-size: 1.3em">
                <b>Price:</b> $0.99 - $3.49
                <br /><br />
                <a class="noanchor" href="http://apps.shopify.com/social">
                    <button class="cta_btn" style="font-size: 2.0em">
                        Install Now
                    </button>
                </a>
            </div>
        </div>

        <div class="prepend-top span-22 last center">
            <br />
            <p>Brought to you by the same developer as top Shopify App, <a href="http://apps.shopify.com/shopconnection">ShopConnection</a>!
            <br /><br />
            We have great customer support and want to help at every step!</p>
        </div>

    </div>
{% endblock content %}
