{% extends "base.html" %}

{% block head %}
    <style>
        ol > li {
            font-weight: bold;
            margin-top: 20px;
        }
        ul > li {
            font-weight: normal;
            font-size: 1.0em;
        }
        button {
            font-size: 1.3em;
            text-align: center;
        }
    </style>
{% endblock head %}

{% block content %}
    <div id="left_header">
        <a class="noanchor" href="/"><img src="/static/imgs/banner.png" /></a>
    </div>
    
    <div class="prepend-top span-24 last center">
        <h1> Learn More </h1>
        <p>Social buttons for your store PLUS usage analytics for you!</p>
    </div>

    <div class="prepend-top prepend-2 span-20 append-2 last">
        <h2>Pricing</h2>
        <ol>
            <li>How much is this Shopify App?</li>
            The App costs $0.99 for the first social button and $0.50 for each additional social button.
            
            <li>Why isn't this App free?</li>
            Since I'm hosting a website for this App, I have to pay some administrative fees. 
            I'm only charging a minimal fee so that I can continue to run this service.
        </ol>

        <h2>Social Buttons</h2>
        <ol>
            <li>Why should I install this App?</li>
            Placing social buttons on your website will let your customers spread your
            products across their social networks. It's like free advertising for you!

            <li>Which buttons are included?</li>
            Here are the buttons that are currently supported:
                <ul>
                    <li class="small_bullets">Facebook</li>
                    <li class="small_bullets">Fancy</li>
                    <li class="small_bullets">Google Plus</li>
                    <li class="small_bullets">Pinterest</li>
                    <li class="small_bullets">Tumblr</li>
                    <li class="small_bullets">Twitter</li>
                </ul>
            <li>I want social site X. Can you include it?</li>
            Yes, please let me know <a href="/feedback"> here</a>!

            <li>Why are there spaces between some of the buttons></li>
            Most of the buttons have a speech bubble to the right of the button to display
            the number of times a page has been shared. For this reason, the buttons reserve
            some space on the right-hand side for the bubble to grow larger as more
            people share your products.

            <li>Can the spaces between the buttons be removed?</li>
            Unfortunately, no. The spaces cannot be removed because they are 
            enforced by the buttons themselves.
        </ol>

        <h2>Other Questions?</h2>
        I want to hear from you! Ask any questions you have or give me feedback <a href="/feedback">here</a>!

        <br /><br />

        <a class="noanchor" href="http://apps.shopify.com/social"> 
            <button class="cta_btn">Install Now</button>
        </a>

    </div>
{% endblock content %}

{% block bottom_content %}
{% endblock bottom_content %}

