{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block content %}
    <div id="right_header">
        <button><a href="/">Home</a></button>
    </div>

    <div class="prepend-top span-24 append-bottom last center">
        <img class="app_logo" src="/static/imgs/pinterest_banner.png" width="310px" height="100px"/>
    </div>

    <div class="prepend-top prepend-2 span-20 append-2 last">
        <div class="span-12" style="font-size: 1.5em; font-weight: bold;">
            Sorry to hear you didn't authorize the transaction. <br /><br />
            I would have loved to work with you.
        </div>
        <div class="span-8 last">
            <div class="center">
                <button style="font-size: 18px; font-weight: bold">
                    <a href="{{store.url}}/admin">Return to your Store</a>
                </button>
            </div>
        </div>

{% endblock content %}

{% block bottom_content %}
{% endblock bottom_content %}

