{% extends "base.html" %}

{% block head %}
    <script>
        var install_url = function() {
            var url = document.getElementById( 'input_url' ).value;
            window.location = 'https://' + url + '/admin/api/auth?api_key={{API_KEY}}'; 
        };
    </script>
{% endblock head %}

{% block content %}
    <div class="prepend-top span-24 last center">
        <h1>Pinterest+</h1>
        <p>A Pinterest button for your store with weekly analytics!</p>
    </div>

    <div class="prepend-top prepend-2 span-20 append-2 last">
        <div class="span-10">
            something
        </div>
        <div class="span-10 last">
            <img style="max-width: 395px;" src="/static/imgs/svpply_logo.png" />
        </div>
    </div>

    <div class="prepend-top prepend-2 span-20 append-2 last center">
        <div>
            To install, simply enter your store's URL / domain: <input type="text" id="input_url" value="Your store URL" />
            <button onclick="install_url();">Install Now</button>
        </div>
    </div>
{% endblock content %}

{% block bottom_content %}
{% endblock bottom_content %}

